################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WindowsFormsDemo/v16
/WindowsFormsDemo/bin/Debug
/WindowsFormsDemo/obj/Debug
